.main{
    display: flex;
    justify-content: center;
}

.content{
    position: absolute;
    height: calc(100% - 20px);
    background-color: #f3f3f3;
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

.username, .email
{
    margin: 0;
}

.username
{
    color: #888;/*#195273*/
    font-size: 64px;
    font-weight: 500;
}

.email
{
    font-weight: 200;
    color: lightgray;
}
